<div class="container col-12 p-4 m-4">
    <h2>Contacta con Rauw Alejandro</h2>
    <div class="container col-10">
        <div class="card  bg-light p-2">
            <div class="mb-3 row">
                <label for="colFormLabel" class="col-sm-2 text-sm-end col-form-label"><strong>Tu E-mail</strong></label>
                <div class="col-sm-10">
                <input type="email" class="form-control" id="colFormLabel" placeholder="Your email">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="floatingTextarea2" class="col-sm-2 text-sm-end col-form-label"><strong>Tu mensaje</strong></label>
                <div class="col-sm-10">
                <textarea class="form-control" placeholder="Please enter your message here..." id="floatingTextarea2" style="height: 100px"></textarea>
                </div>
            </div>
            <div class="text-body-secondary w-100 d-flex justify-content-end">
                <a href="#" class="btn btn-primary mx-2 my-1">Enviar</a>
            </div>
        </div> 
    </div> 
</div>