<!-- your html code here -->
<div style="background-color:white">
    
    <div class="container py-4">
        <div  class="d-flex justify-content-start">
            <img class="ms-3" 
            src="https://rauwalejandrostore.com/cdn/shop/files/cosa-nuestra-vinyl-2lp-rauw-alejandro-store-37206375825599.png?v=1730432273" 
            alt="Imagen"  
            width="250" 
            height="250">
            <div>
                <h1> Cosa Nostra </h1>
                <span class="text-secondary fw-bold fs-0.8">Album • 2024 • 18 canciones</span>
                <p>«Cosa nuestra» es el quinto álbum de estudio del cantante puertorriqueño Rauw Alejandro. Fue lanzado el 15 de noviembre de 2024 a través de Sony Music Latin y Duars Entertainment.1​2​3​ Contiene apariciones de artistas como Pharrell Williams, Romeo Santos, Feid, Alexis & Fido, Bad Bunny, Laura Pausini, Latin Mafia, Marconi Impara, Yan Block y Mr. NaisGai. El título del álbum es en referencia al álbum homónimo de 1969 del dúo de salsa Willie Colón & Héctor Lavoe.</p>
            </div>
        </div>
    </div>
</div>