<div class="card text-bg-dark position-relative m-0 p-0">
    <img src="/website/assets/img/rauw-alejandro-pr-credit-Marco-Perretta-2024-billboard-1-1548.jpg" class="card-img" alt="background">
    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-center">
      <h1 class="display-1 fw-bold .text-dark bg-white bg-opacity-50 rounded w-100 texto-principal">Rauw Alejandro</h1>
      <p class=" display-5  text-dark fw-bold bg-white bg-opacity-50  rounded w-100">Web No Oficial</p>
    </div>
  </div>